a{
	text-decoration: none;
}
body{
	background-color: black;
	color: white;
	font-family: Helvetica neue, sans-serif;
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
}
.bodypadding{
	padding: 1% 2%;
	font-size: 130%;
}

.Brands{
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: auto;
	justify-content: center;
	padding: 2%;
	width: 96%;
	margin-top: 5%;
}	

.Brands_Container
{
	border: #ccc dashed 1px;
	display: inline-block;
	position: relative;
	transition: 0.5s ease;
	width: 300px;
}
.Brands_Container img{
	transition: 0.5s ease;
}
.Brands_Container:hover .Brands_Description{
	opacity: 1;
}
.Brands_Container:hover img{
	opacity: 0;
}
.Brands_Description{
	font-size: 200%;
	opacity: 0;
	position: absolute;
	text-align: center;
	top: 31px;
	transition: 0.5s ease;
	width: 100%;
}
.brnds{
	height:100vh;
	width: 20%;
	font-size: 150%;
	background-color: red;
	text-align: center;
	float: left;
	padding-bottom: 2%;
}
.brnds img{
	background-color: white;
	transition: 0.2s ease;
	width: 70%;
}
.brnds img:hover{
	width: 80%;
}
.brnds img:focus{
	width: 80%;
}
.brnds span{
	display: block;
	margin: 1%;
}
.contact{
	background-color: #da2439;
	color: white;
	font-size: 170%;
	left: 50%;
	position: absolute;
	text-decoration: none;
	top: 250%;
	padding: 2%;
	transform: translate(-50%,-50%);
	width: 60%;
}
.contacts{
	left: 8%;
	position: relative;
}
.contactus
{
	display: flex;
	flex-direction: column;
}
.container
{
	width: 100%;
}
.decrp{
	background-color: antiquewhite;
	padding: 2%;
	width: 56%;
}
.description{
	padding: 15px;
	text-align: center;
}
div{
	color: white;
	float: left;
	text-align: left;
}
.email{
	color: white;
	line-height: 35px;	
}
.enquiry{
	background-color:gray;
	color: black;
	display: inline-block;
	float: right;
	height:400px;
	padding: 2%;
	padding-top: 0%;
	width: 21%;
}
form{
	line-height: 30px;
	width: 100%;

}
.gallery{
	width: 25%;
	/* padding: 1% .5%; */
	border: 1px solid #ccc;
}
.galleryfull{
	width: 100%;
	box-sizing: border-box;
}
.gallery img{
	width: 100%;
	height: auto;
}
h1{
	color: 	#da2439;
	text-align: center;
	margin:1%;
	font-size: 400%;
	margin-bottom: 2%;
	padding-top: 1%;
}
.headlines{
	box-sizing: border-box;
	border: 1px solid white;
	display: inline-block;
	font-size: 100%;
	padding: 0.6%;
	width: 55%;
}
.img{
	display: block;
	width: 100%;
	height:300px;
	background-color: gray;
	background-image: url(../images/Shop-min.jpeg);
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}
input{
	background-color: rgb(106, 106, 118);
	border: solid 1.5px black;
	border-radius:3px;
	transition: 1s ease-in;
	transition: 0.5s ease-out;
	width: 100%;
}
input:hover{
	background-color: white;
}
input:focus{
	border: none;
}
#map
{
	display: none;
	height: 500px;
	width: 60%;
}
.maskvideo{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 55%;
	/* background-color: blue; */
	min-height: 384px;
}
nav{
	width: 100%;
	background-color: white;
	display: flex;
}
nav a{
	box-sizing: border-box;
	width: auto;
	color: black;
	margin: auto;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 180%;
	text-align: center;
}
nav a:hover{
	transition: 0.5s ease;
	color: 	#da2439;
	font: bold;
}
span{
	color: white;
}
.submit{
	margin: 0 auto;
	width: 50%;
}
textarea{
	background-color: rgb(106, 106, 118);
	border: solid 1.5px black;
	border-radius:3px;
	max-height: 100px;
	position: relative;
	resize: vertical;
	transition: 1s ease-in;
	transition: 0.5s ease-out;
	top: 10px;
	height: 75px;
	width: 100%;
}
textarea:hover{
	background-color: white;
}
video{
	width: 60%;
}
@media screen and (max-width:1200px)
{
	.bodypadding{
		padding: 2% 3%;
	}
	video{
		width: 90%;
	}
}
