a{
	text-decoration: none;
}
body{
	background-color: black;
	color: white;
	font-family: Helvetica neue, sans-serif;
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
}
.bodypadding{
	padding: 1% 2%;
	font-size: 130%;
}
.brnds{
	height:100vh;
	width: 20%;
	font-size: 150%;
	background-color: red;
	text-align: center;
	float: left;
	padding-bottom: 2%;
}
.brnds img{
	background-color: white;
	width: 70%;
}
.brnds span{
	display: block;
	margin: 1%;
}
.contact{
	background-color: #da2439;
	color: white;
	font-size: 170%;
	left: 50%;
	position: absolute;
	text-decoration: none;
	top: 250%;
	padding: 2%;
	transform: translate(-50%,-50%);
	width: 60%;
}
.contacts{
	left: 8%;
	position: relative;
}
.contactus
{
	display: flex;
	flex-direction: column;
}
.decrp{
	/* background-color: antiquewhite; */
	padding: 2%;
	width: 56%;
}
div{
	color: white;
	float: left;
	text-align: left;
}
.email{
	color: white;
	line-height: 35px;	
}




.container
{
	width: 100%;
}
.galleryfull{
	width: 100%;
	box-sizing: border-box;
}

.gallery{
	width: 25%;
	/* padding: 1% .5%; */
	border: 1px solid #ccc;
}
.gallery img{
	width: 100%;
	height: auto;
}

.description{
	padding: 15px;
	text-align: center;
}

.enquiry{
	width: 21%;
	height:400px;
	color: black;
	background-color: white;
	display: inline-block;
	padding: 2%;
	padding-top: 0%;
	float: right;
}

form{
	line-height: 30px;
	width: 100%;

}
input{
	width: 100%;
}
textarea{
	position: relative;
	top: 10px;
	resize: vertical;
	max-height: 100px;
}

input, textarea{
	outline: none;
	border: 1px solid #dddddd;
}


input:focus, textarea:focus{
	box-shadow: 0 0 4px rgba(255,0,0,0.5);
	border: 1px solid rgb(255,0,0);
}

::placeholder{
	color:gray;
	text-align: center;
	opacity: 0.5;
}
h1{
	color: 	#da2439;
	text-align: center;
	margin:1%;
	font-size: 400%;
	margin-bottom: 2%;
	padding-top: 1%;
}
.headlines{
	box-sizing: border-box;
	border: 1px solid blue;
	display: inline-block;
	font-size: 100%;
	padding: 0.6%;
	width: 55%;
}
.img{
	display: block;
	width: 100%;
	height:300px;
	background-color: gray;
	background-image: url(../images/Shop-min.jpeg);
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}
#map
{
	height: 500px;
	width: 60%;
}
nav{
	width: 100%;
	background-color: white;
	display: flex;
	/* margin: 1%;
	padding: 1%; */
}
nav a{
	box-sizing: border-box;
	width: auto;
	color: black;
	margin: auto;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 180%;
	text-align: center;
}
nav a:hover{
	transition: 1s ease;
	color: 	#da2439;
}
span{
	color: white;
}
textarea{
	width: 100%;
	height: 75px;
}
video{
	position: relative;
	top:50px;
	left: 50px;
	box-shadow: white 0px 0px 10px;
}
@media screen and (max-width:1200px)
{
	.bodypadding{
		padding: 2% 3%;
	}
}
