a{
	text-decoration: none;
}
body{
	background-color: black;
	color: white;
	font-family: Helvetica neue, sans-serif;
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
}
.bodypadding{
	padding: 1% 2%;
	font-size: 130%;
}
.brnds{
	height:100vh;
	width: 20%;
	font-size: 150%;
	background-color: red;
	text-align: center;
	float: left;
}
.brnds img{
	background-color: white;
	width: 70%;
}
.brnds span{
	display: block;
	margin: 1%;
}
.contact{
	background-color: #da2439;
	color: white;
	font-size: 170%;
	left: 50%;
	position: absolute;
	text-decoration: none;
	top: 300%;
	transform: translate(-50%,-50%);
	width: 60%;
}
.contacts{
	left: 8%;
	position: relative;
}
div{
	color: white;
	float: left;
	text-align: left;
}
.email{
	color: white;
	line-height: 35px;	
}

.enquiry{
	width: 20%;
	height:300px;
	color: black;
	background-color: white;
	display: inline-block;
	text-align: center;
	float: right;
}

form{
	width: 100%;
}
input{
	width: 100%;
}
textarea{
	resize: vertical;
	max-height: 100px;
}

input, textarea{
	outline: none;
	border: 1px solid #dddddd;
}


input:focus, textarea:focus{
	box-shadow: 0 0 4px rgba(255,0,0,0.5);
	border: 1px solid rgb(255,0,0);
}

::placeholder{
	color: red;
	opacity: 1;
}
h1{
	color: 	#da2439;
	text-align: center;
	margin:1%;
	font-size: 400%;
	margin-bottom: 2%;
	padding-top: 1%;
}
.headlines{
	width: 56%;
	padding: 2%;
	padding-top: 1%;
	text-align: center;
	display: inline-block;
	/* background-color: white; */
}
.img{
	display: block;
	width: 100%;
	height:300px;
	background-color: gray;
	background-image: url(../images/Shop-min.jpeg);
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}
nav{
	width: 100%;
	background-color: white;
	display: flex;
	/* margin: 1%;
	padding: 1%; */
}
nav a{
	box-sizing: border-box;
	width: auto;
	color: black;
	margin: auto;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 180%;
	text-align: center;
}
nav a:hover{
	transition: 1s ease;
	color: 	#da2439;
}
span{
	color: white;
}
video{
	position: relative;
	top:50px;
	left: 50px;
	box-shadow: white 0px 0px 10px;
}
