a{
	text-decoration: none;
}
body{
    margin: 0;
	padding: 0;
    width: 100%;
    background-color: black;
	color: white;
	min-height: 2000px;
	font-family: Helvetica neue, sans-serif;
}
.brnds{
	height:400px;
	width: 25%;
	font-size: 150%;
	background-color: red;
	text-align: center;
	float: left;
	padding-bottom: 2%;
}
.brnds img{
	background-color: white;
	transition: 0.2s ease;
	width: 55%;
}
.brnds img:hover{
	width: 80%;
}
.brnds img:focus{
	width: 80%;
}
.brnds span{
	display: block;
	margin: 1%;
}
.enquiry{
	background-color:gray;
	color: black;
	display: inline-block;
	float: right;
	height:400px;
	padding: 2%;
	padding-top: 0%;
	width: 21%;
}
form{
	line-height: 30px;
	width: 100%;

}
h1{
	color: 	#da2439;
	text-align: center;
	margin:1%;
	font-size: 400%;
	margin-bottom: 2%;
	padding-top: 1%;
}
.headlines{
	box-sizing: border-box;
	border: 1px solid white;
	display: inline-block;
	font-size: 100%;
	padding: 0.6%;
	width: 50%;
	height: 35px;
}
.img{
	display: block;
	width: 100%;
	height:300px;
	background-color: gray;
	background-image: url(../images/Shop-min.jpeg);
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}
input{
	background-color: rgb(106, 106, 118);
	border: solid 1.5px black;
	border-radius:3px;
	transition: 1s ease-in;
	transition: 0.5s ease-out;
	width: 100%;
}
input:hover{
	background-color: white;
}
input:focus{
	border: none;
}
.left{
	display: inline-flex;
	width: 50%;
	padding: 0;
	margin: 0;
	width: 48%;
	padding: 1%;
	align-items: center;
	flex-direction: column;
	z-index: 2;
	overflow: hidden;
	padding-bottom: 50px;
	color: black;
	float: left;
}
.left h2{
	width: 100%;
	text-align: center;
}
.left .testContainer{
	width: 50%;
	overflow: hidden;
	border-radius: 5px; 
	
}
.left figure{

	position: relative;
	width: 500%;
	overflow: hidden;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
}
.left figure img{
	width: 20%;
	float: left;


}

@keyframes slider{
	0%{
		left: 0;
	}
	20%{
		left: 0;
	}
	25%{
		left: -100%;
	}
	45%{
		left: -100%;
	}
	50%{
		left: -200%;
	}
	70%{
		left: -200%;
	}
	75%{
		left: -300%;
	}
	95%{
		left: -300%;
	}
	100%{
		left: -400%;
	}
}










.maskvideo{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	/* background-color: blue; */
	min-height: 392px;
}
nav{
	width: 100%;
	background-color: white;
	display: flex;
}
nav a{
	box-sizing: border-box;
	width: auto;
	color: black;
	margin: auto;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 180%;
	text-align: center;
}
nav a:hover{
	transition: 0.5s ease;
	color: 	#da2439;
	font: bold;
}
#ownername{
	float: right;
	padding-right: 2%;
}
.right{
	min-height: 300px;
	display: inline-block;
	width: 46%;
	float: right;
	padding: 0;
	margin: 0;
	background-color: red;
	padding: 2%;
	padding-top: 0;
}
.right h2{
	line-height: 50px;
	width: 100%;
	text-align: center;

}
span{
	color: white;
}
.submit{
	margin: 0 auto;
	width: 50%;
}
textarea{
	background-color: rgb(106, 106, 118);
	border: solid 1.5px black;
	border-radius:3px;
	max-height: 100px;
	position: relative;
	resize: vertical;
	transition: 1s ease-in;
	transition: 0.5s ease-out;
	top: 10px;
	height: 75px;
	width: 100%;
}
textarea:hover{
	background-color: white;
}
video{
	width: 70%;
}

@media screen and (max-width:1200px)
{
	.maskvideo{
		min-height: 389px;
	}
	
.left .testContainer{
	width: 70%;
}
}


@media screen and (max-width:1000px)
{
	.maskvideo{
		min-height: 385px;
	}
}

	