a{
	text-decoration: none;
}
body{
    margin: 0;
	padding: 0;
    width: 100%;
	background-color: black;
	color: white;
	min-height: 2000px;
	font-family: Helvetica neue, sans-serif;
}
.brnds{
	height:400px;
	width: 25%;
	font-size: 150%;
	background-color: #da2439;
	text-align: center;
	float: left;
	padding-bottom: 2%;
}
.brnds img{
	background-color: #fff;
	transition: 0.2s ease;
	width: 55%;
}
.brnds img:hover{
	width: 70%;
}
.brnds img:focus{
	width: 70%;
}
.brnds span{
	display: block;
	margin: 1%;
	margin-top: 0;
}
.enquiry{
	background-color:gray;
	color: #fff;
	display: inline-block;
	float: right;
	height:400px;
	padding: 2%;
	padding-top: 0%;
	width: 21%;
}
form{
	line-height: 30px;
	width: 100%;

}
h1{
	color: 	#da2439;
	text-align: center;
	margin:1%;
	font-size: 400%;
	margin-bottom: 2%;
	padding-top: 1%;
}
head{
	width: 100%;
}
.headlines{
	box-sizing: border-box;
	border: 1px solid white;
	display: inline-block;
	font-size: 100%;
	padding: 0.6%;
	width: 50%;
	height: 35px;
}
.img{
	display: block;
	width: 100%;
	height:300px;
	background-color: gray;
	background-image: url(../images/Shop-min.jpeg);
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}
input{
	background-color: rgb(106, 106, 118);
	border: solid 1.5px black;
	border-radius:3px;
	transition: 1s ease-in;
	transition: 0.5s ease-out;
	width: 100%;
}
input:hover{
	background-color: white;
}
input:focus{
	border: none;
}
.left{
	display: inline-flex;
	width: 50%;
	padding: 0;
	margin: 0;
	width: 48%;
	padding: 1%;
	align-items: center;
	flex-direction: column;
	z-index: 2;
	overflow: hidden;
	padding-bottom: 50px;
	float: left;
}
.left h2{
	width: 100%;
	text-align: center;
}
.left .testContainer{
	width: 50%;
	overflow: hidden;
	border-radius: 5px; 
	
}
.left figure{

	position: relative;
	width: 500%;
	overflow: hidden;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
}
.left figure img{
	width: 20%;
	float: left;


}
#logo{
	width: 100%;
}
#logo img{
	margin-left: 50%;
	transform: translateX(-50%);
	
}

.maskvideo{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	/* background-color: blue; */
	min-height: 392px;
}

#mapid{ 
	height: 50vh; 
	display: block;
	width: 80%;
	transform: translateY(10vh);
	margin: 0 auto;
}

nav{
	width: 100%;
	background-color: white;
	display: flex;
	/* border: 2px solid black; */
}
nav a{
	box-sizing: border-box;
	width: auto;
	color: black;
	margin: auto;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 180%;
	text-align: center;
}
nav a:hover{
	transition: 0.5s ease;
	color: 	#da2439;
	font: bold;
}
#ownername{
	float: right;
	padding-right: 2%;
}
.right{
	display: inline-block;
	width: 46%;
	float: right;
	padding: 0;
	margin: 2%;
	padding-top: 0;
}
.swiper-container {
	margin-top: 5%;
	width: 100%;
	height: 100%;
}

.swiper-slide {
border-radius: 3px;
text-align: center;
font-size: 18px;
/* Center slide text vertically */
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}



span{
	color: white;
}
.submit{
	margin: 0 auto;
	width: 50%;
}
textarea{
	background-color: rgb(106, 106, 118);
	border: solid 1.5px black;
	border-radius:3px;
	max-height: 100px;
	position: relative;
	resize: vertical;
	transition: 1s ease-in;
	transition: 0.5s ease-out;
	top: 10px;
	height: 75px;
	width: 100%;
}
textarea:hover{
	background-color: white;
}
video{
	width: 70%;
	border-radius: 3px;
}
@media screen and (max-width:1200px)
{
	.maskvideo{
		min-height: 389px;
	}
	.left .testContainer{
		width: 50%;
	}
	.maskvideo video{
		width: 90%;
	}
	.swiper-slide img{
		width: 75%;
	}
}
@media screen and (max-width:1000px)
{
	.maskvideo{
		min-height: 385px;
	}
	.swiper-slide img{
		width: 75%;
	}

}
@keyframes slider{
	0%{
		left: 0;
	}
	20%{
		left: 0;
	}
	25%{
		left: -100%;
	}
	45%{
		left: -100%;
	}
	50%{
		left: -200%;
	}
	70%{
		left: -200%;
	}
	75%{
		left: -300%;
	}
	95%{
		left: -300%;
	}
	100%{
		left: -400%;
	}
}
<<<<<<< HEAD







    

=======
>>>>>>> c32019369cc85e1678f0d37f2ab0975a3c04c4ad
