*{
    box-sizing: border-box;
}
a{
	text-decoration: none;
}
body{
	background-color: black;
	color: white;
	font-family: Helvetica neue, sans-serif;
	position: relative;
    width: 99%;
    /* padding: 1%; */
    box-sizing: border-box;
}
.container{
    padding: 0 6px;
    float: left;
    width: 25%;
    margin-top: 1%;
}
.gallery
{
    background-color: white;
    border: 1px solid #ccc;
    color: black;
}
.gallery img{
    width: 100%;
    height: auto;
}
.description{
    padding: 15px;
    text-align: center;
}
h1{
	color: 	#da2439;
	text-align: center;
	margin:1%;
	font-size: 400%;
	margin-bottom: 2%;
	padding-top: 1%;
}
nav{
	width: 100%;
	background-color: white;
	display: flex;
	/* margin: 1%;
	padding: 1%; */
}
nav a{
	box-sizing: border-box;
	width: auto;
	color: black;
	margin: auto;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 180%;
	text-align: center;
}


@media only screen and (max-width:1000px)
{
    .container{
        width: 50%;
        margin: 6px 0;
        float: right;
    }
}

@media only screen and (max-width:700px)
{
    .container{
        width: 100%;
        margin: 6px 0;
    }
}