a{
    text-decoration: none;
}
body{
    margin: 0;
	padding: 0;
    width: 100%;
    background-color: black;
	color: white;
	font-family: Helvetica neue, sans-serif;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 70px auto ;
    width: 1280px;
}
.container .box{
    box-sizing: border-box;
    display: inline-block;
    height: 200px;
    margin: 10px;
    position: relative;
    width: 300px;
}
.container .box .imgBox{
    /* position: relative; */
    overflow: hidden;
}
.container .box .imgBox img{
    max-width: 100%;
    width: 300px;
    transition: transform 1s ease;
}
.container .box:hover .imgBox img{
    transform: scale(1.08);
}
.container .box .details{
    opacity: 0;
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0,0,0,0.8);
    transition: 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .box:hover .details{
    opacity: 1;
}
.container .box:focus .details{
    opacity: 1;
}
h1{
	color: 	#da2439;
	text-align: center;
	margin:1%;
	font-size: 400%;
	margin-bottom: 2%;
	padding-top: 1%;
}
nav{
	width: 100%;
	background-color: white;
	display: flex;
	/* margin: 1%;
	padding: 1%; */
}
nav a{
	box-sizing: border-box;
	width: auto;
	color: black;
	margin: auto;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 180%;
	text-align: center;
}
nav a:hover{
	transition: 1s ease;
	color: 	#da2439;
}
@media only screen and (max-width:1100px)
{
    .container{
        width: 1100px;
    }
}
@media only screen and (max-width:700px)
{
    .container{
        width: 700px;
    }
}